---
---

<div id="flickchart">
  <h3 class="text-sm font-bold uppercase tracking-widest text-cream mb-6">Ranking</h3>
  <div id="flickchart-widgets" class="space-y-6">
    <div>
      <script is:inline src="https://v2.flickchart.com/widget-assets/embed.js"
      data-widget="rankings"
      data-username="zampa"
      data-limit="10"
      data-show-titles="false"
      data-show-dates="false"
      data-show-title="false"
      data-show-branding="false"
      async></script>
    </div>
    <div>
      <script is:inline src="https://v2.flickchart.com/widget-assets/embed.js"
      data-widget="watchlist"
      data-username="zampa"
      async></script>
    </div>
    <div>
      <script is:inline src="https://v2.flickchart.com/widget-assets/embed.js"
      data-widget="reviews"
      data-username="zampa"
      async></script>
    </div>
  </div>
</div>
