---
---

<div id="flickchart">
  <!-- Load script once -->
  <script is:inline src="https://v2.flickchart.com/widget-assets/embed.js?v=0.0.3" async></script>

  <div id="flickchart-widgets" class="space-y-6">
    <flickchart-widget
      data-widget="rankings"
      data-username="zampa"
      data-limit="8"
      data-show-titles="false"
      data-show-dates="false"
      data-show-background="false">
    </flickchart-widget>

    <flickchart-widget
      data-widget="watchlist"
      data-username="zampa"
      data-limit="8"
      data-show-titles="false"
      data-show-dates="false"
      data-show-background="false">
    </flickchart-widget>

    <flickchart-widget
      data-widget="reviews"
      data-username="zampa"
      data-show-titles="false"
      data-show-dates="false"
      data-show-background="false"
      data-limit="4"
      >
    </flickchart-widget>
  </div>
</div>
